<!DOCTYPE html>
<html>
	<head>
		<title>Haiku for you</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
		<link href='https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:300,800' rel='stylesheet' type='text/css'>
		<link href="/stylesheets/style.css" rel="stylesheet">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
		
		<script src="/javascripts/angularApp.js"></script>
	
	</head>
	<body ng-app="haikuForYou">

		<ui-view class="{{haikus[currentIndex()].haikuTheme}} themes"></ui-view>
		
		<script type="text/ng-template" id="/home.html">
			<header>
				<h2 class="brand">HAIKU FOR YOU</h2>
				<!--button class="submit" ng-click="open('sm')">SUBMIT A HAIKU</button-->		
				<button class="submit" ng-click="open()">SUBMIT A HAIKU</button>	
			</header>		
			<main>
					<h1 class="mainHaiku">{{haikus[currentIndex()].haikuLine1}}</h1>
					<h1 class="mainHaiku">{{haikus[currentIndex()].haikuLine2}}</h1>
					<h1 class="mainHaiku">{{haikus[currentIndex()].haikuLine3}}</h1>
			</main>
			<footer>
				<button class="more" ng-click="incrementIndex()">MORE HAIKUS</button>
			</footer>
		</script>
		
    <script type="text/ng-template" id="myModalContent.html">
			<form ng-submit="addHaiku()" name="createHaikuForm">

				<div class="modal-header">
					<button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="newHaikuModalLabel">CREATE A HAIKU</h4>
				</div>
				<div class="modal-body">

					<input type="text" placeholder="Haiku Line 1:  5 Syllables" ng-model="haikuLine1" name="haikuLine1" minlength="5" required>
					<br>
					<input type="text" placeholder="Haiku Line 2:  7 Syllables" ng-model="haikuLine2" name="haikuLine2" minlength="7" required>
					<br>
					<input type="text" placeholder="Haiku Line 3:  5 Syllables" ng-model="haikuLine3" name="haikuLine3" minlength="5" required>
					<br>
					<div class="form-group">
						<label for="haikuTheme">HAIKU BACKGROUND THEME:</label>
						<select class="form-control" id="theme" ng-model="haikuTheme" name="haikuTheme" required>
							<option value="" disabled selected hidden>Please Choose...</option>
							<option value="beachTheme">Beach</option>
							<option value="careerTheme">Career</option>
							<option value="catTheme">Cat</option>
							<option value="cheersTheme">Cheers</option>
							<option value="childhoodTheme">Childhood</option>
							<option value="coffeeTheme">Coffee</option>
							<option value="dogTheme">Dog</option>
							<option value="fantasyTheme">Fantasy</option>
							<option value="fitnessTheme">Fitness</option>
							<option value="foodTheme">Food</option>
							<option value="happyTheme">Happy</option>
							<option value="musicTheme">Music</option>
							<option value="natureTheme">Nature</option>
							<option value="painTheme">Pain</option>
							<option value="romanceTheme">Romance</option>
							<option value="somberTheme">Somber</option>
							<option value="stormTheme">Storm</option>
							<option value="technologyTheme">Technology</option>
							<option value="travelTheme">Travel</option>
							<option value="whimsyTheme">Whimsy</option>
						</select>
					</div>

				</div>
				<div class="modal-footer">
					<button ng-click="cancel()" type="button" class="btn btn-default" >CLOSE</button>
					<button type="submit" class="btn btn-primary" ng-disabled="createHaikuForm.$invalid" ng-click="ok()" >SUBMIT HAIKU</button>
				</div>
			</form>	
    </script>

		<script type="text/ng-template" id="/admin.html">
			<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
				<ul class="nav navbar-nav">
					<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
					<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
					<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
					<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
					<li><a href="/#/home">Home Page</a></li>
				</ul>
			</nav>
			<div class="adminPage" ng-show="isLoggedIn()">
				<div class="admin" ng-repeat="haiku in haikus"> 
					<p>{{haiku.haikuLine1}},</p>
					<p>{{haiku.haikuLine2}},</p>
					<p>{{haiku.haikuLine3}}</p>
					<button class="btn btn-danger" ng-click="deleteHaiku(haiku)">Delete this Haiku</button>
				</div>
			</div>
			<div ng-hide="isLoggedIn()">
				<h3>You need to <a href="/#/login">Log In</a> before you can delete a haiku</h3>
			</div>
		</script>

		
		
		<script type="text/ng-template" id="/register.html">
			<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
				<ul class="nav navbar-nav">
					<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
					<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
					<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
					<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
					<li><a href="/#/home">Home Page</a></li>
				</ul>
			</nav>
			
			<div class="page-header">
				<h1>Haiku For You Admin Register Page</h1>
			</div>

			<div ng-show="error" class="alert alert-danger row">
				<span>{{ error.message }}</span>
			</div>

			<form ng-submit="register()">
				<h3>Register</h3>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Username" ng-model="user.username">
				</div>

				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" ng-model="user.password">
				</div>

				<button type="submit" class="btn btn-primary">Register</button>
			</form>		
		</script> 
		
		
		<script type="text/ng-template" id="/login.html">
			<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
				<ul class="nav navbar-nav">
					<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
					<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
					<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
					<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
					<li><a href="/#/home">Home Page</a></li>
				</ul>
			</nav>
			
			<div class="page-header">
				<h1>Haiku For You Admin Login Page</h1>
			</div>

			<div ng-show="error" class="alert alert-danger row">
				<span>{{ error.message }}</span>
			</div>

			<form ng-submit="logIn()">
				<h3>Login</h3>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Username" ng-model="user.username">
				</div>

				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" ng-model="user.password">
				</div>
				<button type="submit" class="btn btn-primary">Log In</button>
			</form>			
		</script>
	
		
	</body>
</html>